<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center purple-text">Latest Tech News</h1>
      <div class="row center">
        <h5 class="header col s12 light">The world is changing faster than you think!</h5>
        <small>Powered by TechCrunch</small>
      </div>
      <div class="row center">
        <a href="/scrape" class="btn-large waves-effect waves-light green scrape-btn">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>